* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family:"Roboto", sans-serif;
  scrollbar-color: #717376 var(--mainColor);
}

:root{
  --mainColor:#e3e8ee;
}
body {
  background-color: var(--mainColor);
}

.text-center {
  text-align: center;
}

.text-style {
  text-decoration: none;
  color: black;
}

.d-flex {
  display: flex;
}

.link {
  text-decoration: none;
}

/* button  style */
.bton {
  padding: 8px 15px;
  background-color: #34A853;
  color: white;
  border: none;
  align-items: center;
  font-style: bold;
  font-size: 15px;
  gap: 10px;
  border-radius: 1px;
}

.bton:hover {
  cursor: pointer;
  opacity: 0.7;
}

.sideBar {
  display: flex;
  flex-direction: column;
  height: 100% !important;
}

.head {
  width: 240px;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 0px 15px;
  border-end-end-radius: 30px;
  border-start-end-radius: 30px;
  margin: 15px 0px 50px 0px;
  position: relative;
}

.head .logo {
  position: absolute;
  top: -5px;
}

.head h1 {
  font-size: 20px;
}

/* button to add project */
.p-btn {
  width: 240px;
  padding: 15px 0px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-size: 15px;
  border: none;
  border-end-end-radius: 30px;
  border-start-end-radius: 30px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.p-btn:hover {
  background-color: rgba(84, 136, 122, 0.849);
}


/* project card */
.project-card {
  align-items: center;
  justify-content: space-between;
  width: 240px;
  height: 40px;
  margin: 10px 0px;
  padding: 4px 16px;
  border-left: 4px solid red;
  border-end-end-radius: 30px;
  border-start-end-radius: 30px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
  z-index: 1;
  /* position: relative; */
}

.projTitle {
  margin: 0px 25px;
  width: 100px;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;

  white-space: nowrap;
}

.project-card:hover {
  opacity: 0.7;
}
/*! -------------------------------------------------------- */
 .project-card button {
  border: none;
  background: none;
  display: none;
  position: absolute;
  left: 200px;
}

.project-card:hover> button{
  display: block;
}

#projectBtn-div{
  display: none;
  position: absolute;
 left: 220px;
   margin-top: 170px;
  background-color: white;
  width: 190px;
  z-index: 1000;
}
 #projectBtn-div ul{
  list-style: none;
  padding: 15px 10px;
}
.project-card:hover> button:hover + #projectBtn-div{
  display: block;
}



/*! -------------------------------------------------------- */
/* side inner bar */

.SideInnerBar{
  /* scrollbar-color: #717376 var(--mainColor); */

 
  
  
}


/* side bottom bar */

.sidebar-bottom {
  position: relative;

  border: 1px solid rgba(128, 128, 128, 0.374);
  width: 97%;
  top: 20px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  opacity: 60%;
  margin-top: 30px;
}

.sidebar-bottom:hover {
  border: 1px solid grey;
  transition: all .3s;
  cursor: pointer;
  opacity: 90%;
}

.sidebar-bottom:hover>svg {
  fill: var(--clr-hover-icons);
}

.sidebar-bottom svg {
  width: 20px;
  height: 20px;
  fill: var(--clr-icons);

}



/* side bottom bar end */


.main-content-citation{
  width: 1000px;
  margin: auto;
}
.cite-container {
  width: 820px;
  min-height: 940px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
  margin: auto;
  padding: 10px 20px;
}
.mainCheckBox{
  width: 20px;
  cursor:pointer;
  accent-color: #4285f4;
}
.checkBox{
  width: 20px;
  cursor:pointer;
  opacity: 0;
accent-color: #4285f4;
}
.sub-lower-part{
  padding: 10px 0px;
  min-height: 40px;
  align-items: center;
  cursor: zoom-in;
}
.HomeCiteButton{
  display: none;
}
.sub-lower-part:hover > .HomeCiteButton{
  display: block;
 
}
.sub-lower-part:hover >div> .checkBox{
  opacity: 1;
}
.HomeCiteButton button{
  border: none;
  background: none;
  margin:0 5px ;
}

.sub-upper-part-2>p {
  margin-right: 300px;
  font-size: 20px;
  font-weight: 600;

}

.sub-upper-part,
.sub-upper-part-2,
.sub-lower-part {
  justify-content: space-between;
}
/* --------- */

.upperBar {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 840px;
  height: 100px;
  background-color: rgb(227 232 238);
  z-index: 1;
  margin: auto;
}

.sub-container-2 {
  width: 780px;
 
  padding: 20px;
  margin-top: 100px;

}
.sub-container-2  h1{
  font-size: 18px;
}
.sub-container-2  p{
  font-size: 14px;
}


.upperBar .file {
  border: 1px solid gray;
  background-color: var(--mainColor);
  border-left: none;
  color: black;
  padding-bottom: 0;
}
.downloadBton{
  background: #699CF2;
  color: white;
}
.stylebtn{
  background: var(--mainColor);
  border: 2px solid gray;
  color: black;
}

/* add-citation */
/* .dialog{
  margin: auto;
  border: none;
}
.dialog::backdrop{
    background: rgba(0, 0, 0, 0.502);
} */

/* .add-citation-div{
  outline: 2px solid yellow;
  
} */
.add-citation {
  /* outline: 2px solid rgb(255, 77, 0); */
  width: 800px;
  max-height: calc(-160px + 100vh);
  min-height:  400px;
  padding: 20px;
  margin: auto;
  background: white;
  box-shadow: 2px 2px 5px #0000009e;
  overflow: scroll;
  position: absolute;
  top: 20%;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
}

/* not working this prooperty */
.add-citation::backdrop {
  background: rgba(0, 0, 0, 0.502);
}

.add-citation .div-1 {
  justify-content: space-between;

}

.div-2 {
  width: 100%;
  padding: 20px;
}

.add-citation .div-2 .div-2-1 button,
.div-2-2 button {
  width: 20%;
  height: 40px;
}

.div-2-2 {
  background-color: var(--mainColor);
  padding: 10px;
}

.dialog-btn {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
}

.dialog-btn:hover {
  cursor: pointer;
  border-radius: 20px;
  background: var(--mainColor);
}

.dialog-input {
  width: 370px;
  height: 40px;
  border: none;
  box-shadow: 0 0 2px black;
  padding-left: 10px;
}

/* drag and drop */
.drag-drop {
  /* margin: 40px 0; */
  padding: 20px;
  font-size: 16px;
  border: 6px dashed rgba(196, 196, 196, 0.995);
}

/* add manual */
.add-manual {
  width: max-content;
  margin: auto;
  padding: 20px;
  border: 2px dashed black;

}

.more-part {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 600px;
  height: 400px;
  background: rgb(234, 234, 229);
  padding: 20px;
  position: absolute;
  top: 80px;
  display: none;
}

/* .more-part .more{} */
.more-part .more-text {
  text-decoration: none;
  color: black;
  padding: 10px;
  width: max-content;
  /* height: 40px; */
  background-color: aqua;
}

/* import slide */
.imactive {
  display: none;
}

.import-slide {
  position: absolute;
  background-color: white;
  box-shadow: 50px 50px 200px grey;
  /* bottom: -100vh; */
  bottom: 0px;
  right: 0;
  left: 0;
  height: 300px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  transition: all .2s;

}

.import-slide .close-btn {

  width: 36px;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  border-radius: 50px;
}

.import-slide h2 {
  position: absolute;
  top: 20px;
  left: 47%;
  font-size: 25px;
}

.import-slide .close-btn:hover {
  background-color: rgba(0, 0, 0, 0.194);
  cursor: pointer;
}

.import-slide .import-card img {
  width: 30px;

}

.import-slide .import-card {

  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  position: relative;
  width: 150px;
}

.import-slide .import-card input {
  font-size: 10px;
  position: absolute;
  bottom: -30px;
  left: 0;
}

.import-slide .import-card {
  border: 1px solid grey;
}


/* ---------------------------------------------------------- */
.form .input-wrappers .inputs .textdiv {
  width: 30%;
}

.form .input-wrappers .inputs input {
  width: 50%;
}

.input-wrappers .textheader {
  width: 18%;
}

.organizationName {
  display: none;
}

/* artwork */

.line {

  border-top: 1px solid #ccc;
  flex-grow: 1;
  margin-right: 5px;
}

.input-div2-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 643px; */
  height: 53px;
  padding: 4px 10px;
}

.input-div2-1 input,
.inp-nam,
.organizationName,
#annotation {
  width: 430px;
  height: 35px;
  padding: 12px;
  border: 2px solid #ffa500;
}

.labelText {
  width: 150px;
  margin-right: 10px;
  font-size: 14px;
  /* text-decoration-style:dotted ; */
  text-decoration-line: underline;
  text-decoration-style: dashed;

}

#annotation {
  height: 100px;
}

.form-switch {

  justify-content: center;
  align-items: center;
  margin-left: -350px;
}

.form-switch .labelText {
  padding-right: 20px;
  margin-right: 50px;
}

.preview-cite .preview{
  width: 100%;
  height: 100px;
  background-color: var(--mainColor);
  display: flex;
  justify-content: start;
  align-items: center;
  gap:  20px;
  margin: 50px 0px 0px 0px;
  /* padding-left: 40px;   */
}
.preview span {
  background-color: #ccd0d6;
  padding: 5px 10px;
  border-radius: 25px;
}
.preview-cite .bton{
  background-color: #4285f4;
  margin-top: 15px;
 
}

.zigzag {
  position: relative;
}

.zigzag::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
  background: linear-gradient(135deg, #fff 12px, transparent 0%),
              linear-gradient(-135deg, #fff 12px, transparent 0%);
  background-size: 30px;
}

.zigzag::before {
  top: 0;
}
/* ---------------------------------------------------------- */

.vertical-icons {
  margin-top: 20px;
  position: fixed;
  top: 0;
  right: 0;
  background-color:white;
  padding: 10px;
border-radius: 12px 0px 0px 20px;

}

.vertical-icons .a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
}

.vertical-icons .a img {
  width: 25px; 
  height: 25px; 
  vertical-align: middle; /* Align icons vertically */
}

.vertical-icons .a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  /* Change background color on hover */
}
.lang{
  
 top: 90%;
}


/* ---------------------------------------------------------- */
.delete-and-archive{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* width: 97%; */

  border: 1px solid grey;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;


}
.delete-and-archive div{
  width: 50%;
  text-align: center;
  padding: 7px;
  cursor: pointer;

}
.delete-and-archive div:nth-child(1){
  border-right: 1px solid grey;
}
.delete-and-archive svg{
  width: 29px;

  fill: grey;
}
.delete-and-archive div:hover>svg{
  fill: var(--clr-hover-icons);
}
/* ---------------------------------------------------------- */



@media screen and (width<1037px) {
  .sideBar {
    transition: all .4s;

    margin-left: -150px;
    /* box-shadow: 0px 0px 15px rgba(52, 46, 46, 0.644); */
    border-right:1px groove rgb(118, 93, 93) ;
  }

  .sideBar:hover {
    margin-left: 0px;
  }
}